
i {
    transition-duration: 0.5s;
    cursor:pointer;
}

* {
   font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    display: block;
}

body {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-color:#2D9596;
}

.inline{
    display: inline-block;
}

.align {
    text-align: center;
}

table {
  width:100%;
  height:100%;
}

.bars {
    display: none;
}

a {
    text-decoration: none;
}

svg {
    cursor: pointer;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* @media (min-width: 768px) {
    .container{
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
} */

.header .container {
    padding-left: 0px;
    margin-left: 30px;
}

.setting {
    color: white;
    font-size: 25px;
    padding: 10px;
    padding-left: 0px;
}

.title{
  margin-bottom:10px;
}
.title .container{
    padding-left: 0px;
    margin-left: 60px;
}

.title h1 {
    color: white;
}

#task {
    background-color: white;
    height: 45px;
    /*width: 1320px;*/
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    margin: auto;
    margin-top: 5px;
    position:relative;
}

h1 , h2 , h3 , h4 , h5 , h6, p{
  cursor: pointer;
}


#task #check-circle {
  height : 20px;
  width : 20px;
  background-color: white;
  border-style: solid;
  border-width:2px;
  border-radius:3px;
  border-color: #cccccc;
  display:inline-block;
  color:white;
  font-size:15px;
  cursor:pointer;
}
#task-name{
  cursor:pointer;
  font-weight: 300;
  padding-left: 10px;
  padding-bottom:2.5px;
}

#task table{
  width:100%;
  height:100%;
}

@media (max-width: 1320px) {
   #task {
    width: 1200px;
   }
}

#task img{
  width:30px;
  border-radius:50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor:pointer;
}

#easyLevel {
    height: 32px;
    width: 98px;
    padding:3px;
    background-color: #bbff9f;
    color: #4CAF50;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor:pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#normalLevel {
    height: 32px;
    width: 98px;
    padding:3px;
    background-color: #ffeab2;
    color:#feb600;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor:pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#hardLevel {
    height: 32px;
    width: 98px;
    padding:3px;
    background-color: #ffc8d7;
    color:hsl(336deg 82.95% 53.81%);
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor:pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#input {
  background-color:black;
  font-size:25px;
  opacity:20%;
  color:white;
  width:94%;
  height:50px;
  position:fixed;
  bottom:10px;
  left:50%;
  transform:translateX(-50%);
  z-index:1099;
  
}


#chooseImportance{
  background-color:white;
  width:20%;
  height:40px;
  border-radius:50px;
  position:fixed;
  left:40%;
  top:0px;
  transform:translateY(-100px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index:1000;
  display:none;
}
#firstFlag,
#secondFlag,
#thirdFlag {
  font-size:18px;
}

#firstFlag:hover,
#secondFlag:hover,
#thirdFlag:hover {
  color:#01c7fc !important; 
}

#chooseLevel {
  background-color:white;
  width:40%;
  height:40px;
  border-radius:10px;
  position:fixed;
  left:30%;
  top:0px;
  transform:translateY(-100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index:1000;
  display:none;
}


#levelOne {
  height: 32px;
  width: 90px;
  background-color: #bbff9f;
  color: #4CAF50;
  font-size: 17px;
  font-weight: 700;
  padding:3px;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#levelTwo {
  height: 32px;
  width: 90px;
  background-color: #ffeab2;
  color: #feb600;
  font-size: 17px;
  font-weight: 700;
  padding:3px;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#levelThree {
  height: 32px;
  width: 90px;
  background-color: #ffc8d7;
  color: hsl(336deg 82.95% 53.81%);
  font-size: 17px;
  font-weight: 700;
  padding:3px;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#chooseDate {
  background-color:white;
  width:90%;
  height:300px;
  border-radius:20px;
  position:fixed;
  left:5%;
  top:0px;
  transform:translateY(-100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index:1000;
  display:none;
}

#dayInput {
  height:250px;
  width:80%;
  border-radius:20px;
  background-color:black;
  color:white;
  opacity:10%;
  font-size:100px;
  text-align:center;
}

#monthInput {
  height:250px;
  width:80%;
  border-radius:20px;
  background-color:black;
  color:white;
  opacity:10%;
  font-size:100px;
  text-align:center;
}

#yearInput {
  height:250px;
  width:80%;
  border-radius:20px;
  background-color:black;
  color:white;
  opacity:10%;
  font-size:100px;
  text-align:center;
}

#dateButton {
  background-color:#0061fd;
  width: 150px;;
  height:40px;
  border-radius:50px;
  position:fixed;
  left:50%;
  top:15px;
  transform:translateX(-50%);
  padding:6.3px;
  text-align:center;
  z-index:1000;
  visibility:hidden;
}

#chooseImg {
  background-color:white;
  width:40%;
  height:40px;
  border-radius:50px;
  position:fixed;
  left:30%;
  top:0px;
  transform:translateY(-80%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index:1000;
  display:none;
}

#edit {
  background-color:white;
  width:40%;
  height:40px;
  border-radius:50px;
  position:fixed;
  left:30%;
  top:0px;
  transform:translateY(-80%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index:1000;
  display:none;
}


#deleteBox {
  height:250px;
  width:80%;
  border-radius:20px;
  background-color:#ebebeb;
  padding:50px;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

#renameBox {
  height:250px;
  width:80%;
  border-radius:20px;
  background-color:#ebebeb;
  padding:50px;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

#inputButton {
  background-color:#0061fd;
  width:140px;
  height:40px;
  border-radius:15px;
  position:fixed;
  right:50px;
  bottom:14px;
  text-align:center;
  padding:10px;
  z-index:1100;
  margin-bottom: 2px;
}

#taskPlace {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

#chooseImg img {
  width:30px; 
  border-radius:50%; 
  display:block; 
  margin-left:auto;
  margin-right:auto;
}


.levelIcon {
  cursor: pointer;
}

#levelOne,
#levelTwo,
#levelThree {
  cursor: pointer;
}
#chooseSetting {
  background-color:white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius:15px;
  height:290px;
  width:190px;
  position:fixed;
  top:15px;
  left:70px;
  transition-duration: 0.5s;
  z-index:1100;
  cursor:pointer;
  display:none;
}

#chooseSetting i {
  font-size:20px;
}

#chooseSetting h5 {
  font-size:20px;
}

@media print{
  #input {
    display:none;
  }
  #inputButton {
    visibility:hidden;
  }

  .header {
    visibility:hidden;
  }
  .mainSection {
    display:block;
  }
}

#chooseBackground div {
  width:30px; 
  height:30px;
  border-radius:50%; 
  display:block; 
  margin-left:auto;
  margin-right:auto;
}

#chooseBackground {
  background-color:white;
  width:40%;
  height:40px;
  border-radius:50px;
  position:fixed;
  left:30%;
  top:0px;
  transform:translateY(0%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index:1000;
  display:none;
}

/*#tasksplace {
  height:520px;
  overflow-y:scroll;
}*/

@media print{
  #tasksplace {
    height:auto;
  }

  body {
    height:auto;
  }
}

#chooseBackgroundType {
  background-color:white;
  width:20%;
  height:40px;
  border-radius:50px;
  position:fixed;
  left:40%;
  top:0px;
  transform:translateY(-50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index:1000;
  display:none;
}

#chooseBackgroundImg{
  background-color:white;
  width:40%;
  height:40px;
  border-radius:50px;
  position:fixed;
  left:30%;
  top:0px;
  transform:translateY(0%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index:1000;
  display:none;
}

#chooseBackgroundImg img{
  width:35px; 
  height:35px;
  border-radius:50%; 
  display:block; 
  margin-left:auto;
  margin-right:auto;
}

#taskOptions {
  background-color:white;
  width:20%;
  height:40px;
  border-radius:50px;
  position:fixed;
  left:40%;
  top:0px;
  transform:translateY(-50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index:1000;
  display:none;
}

#taskOptionsTwo {
  background-color:white;
  width:20%;
  height:40px;
  border-radius:50px;
  position:fixed;
  left:40%;
  top:0px;
  transform:translateY(-50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index:1000;
  display:none;
}

#writeNote {
  background-color:white;
  width:60%;
  height:300px;
  border-radius:20px;
  position:fixed;
  left:20%;
  top:0%;
  transform:translateY(50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index:1000;
  display:none;
}

#noteButton {
  background-color:#FFD43B;
  width:130px;
  height:40px;
  border-radius:10px;
  text-align:center;
  color:white;
  cursor: pointer;
  font-size: 17px;
  font-weight: 800;
  padding: 6.3px;
}

#noteOptions {
  background-color:white;
  width:20%;
  height:40px;
  border-radius:50px;
  position:fixed;
  left:40%;
  top:0px;
  transform:translateY(0);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index:1000;
  display:none;
}

#noteOptions i{
  font-size:20px;
}

#contentOfNote {
  font-size:20px;
  font-weight:500;
}

#task .fa-sticky-note {
  display:inline-block;  
  padding-left:25px;
  color:#cccccc;
}

#task .fa-hashtag {
  display:inline-block; 
  padding-left:10px; 
  color:#cccccc;
}

#theNote {
  background-color:white;
  width:60%;
  height:400px;
  border-radius:20px;
  position:fixed;
  left:20%;
  top:0%;
  transform:translateY(40%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index:1000;
  overflow-y: scroll;
  cursor:auto;
  display:none;
}

#typeOptions {
  background-color:white;
  width:20%;
  height:40px;
  border-radius:50px;
  position:fixed;
  left:40%;
  top:0px;
  transform:translateY(-50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index:1000;
  display:none;
}

#searchOptions {
  background-color:white;
  width:20%;
  height:40px;
  border-radius:50px;
  position:fixed;
  left:40%;
  top:0px;
  transform:translateY(0);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index:1000;
  display:none;
}

#searchOptions i{
  font-size:20px;
}

#searchDateInput {
  background-color:white;
  width:40%;
  height:40px;
  border-radius:10px;
  position:fixed;
  left:30%;
  top:0px;
  transform:translateY(0%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index:1000;
  display:none;
}

#searchDateButton {
  height: 32px;
  width: 90px;
  padding:3px;
  background-color: #676dff;
  color: #fffaf9 ;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#orderingOptions {
  background-color:white;
  width:40%;
  height:40px;
  border-radius:50px;
  position:fixed;
  left:30%;
  top:0px;
  transform:translateY(0%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index:1000;
  display:none;
}

#orderLevelButton {
  height: 32px;
  width: 70px;
  padding:3px;
  background-color: #676dff;
  color: #fffaf9 ;
  font-size: 17px;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#orderingOptions i{
  font-size:20px;
}

#easyLevel , #normalLevel , #hardLevel , #orderLevelButton, #searchDateButton , #levelOne, #levelTwo, #levelThree{
  font-size: 15px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}
